h1{min-height: 100px;
	background-color:crimson;
	font-size: 60px;
	color:white;
	margin-bottom: 10px;
	border:1px solid black;
	text-align: center;
}
.box{
	min-height: 100px;
	background-color:crimson;
	margin-bottom: 10px;
	border:1px solid black;
}
.box h6{
	font-size: 40px;
	color:white;
	text-align:center;
}
.box p{
	font-size: 20px;
	color:white;
	text-align:center;
}